{% extends "template-project/2/base.html" %}

{% set pageTitle = "Page index for template form" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "../index"
  }) }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-l">Sprint 1</span>
  <h1 class="govuk-heading-l">Form pages</h1>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="radios">Radio question</a></li>
    <li><a href="checkboxes">Checkboxes question</a></li>
    <li><a href="multiple-questions">Multiple questions</a></li>
  </ul>
{% endblock %}
