{% extends "layout.html" %}

{% block pageTitle %}
  Index - Template project Home Office styled prototype kit
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Template project</h1>
  <p class="govuk-body">This is an implementation of the <a href="https://github.com/UKHomeOffice/home_office_design_kit">Home Office-styled GOV.UK prototype kit</a>.</p>
  <p class="govuk-body">This is an index of the template project, showing previous sprint histories:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="template-project/current/index">template sprint (current)</a></li>
    <li><a href="template-project/2/index">template sprint (version 2)</a></li>
    <li><a href="template-project/1/index">template sprint (version 1)</a></li>
  </ul>
{% endblock %}
